# Virtual environment
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# Pytest cache
.pytest_cache/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db